<div class="panel">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h2>Login</h2>
      </div>
      <div class="card-body">
        <form name="form" (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <label>Username </label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="model.username" name="username" #username="ngModel" placeholder="username">

            <div *ngIf="errorRequiredUsername" [innerHTML]="errorRequiredUsername" class="alert alert-danger"></div>
          </div>
          <div class="form-group">
            <label>Password </label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="password">

            <div *ngIf="errorRequiredPassword" [innerHTML]="errorRequiredPassword" class="alert alert-danger"></div>

          </div>
          <div *ngIf="error" [innerHTML]="error" class="alert alert-danger"></div>
          <div class="form-group  d-flex justify-content-center">
            
            <button class="btn btn-login">Login</button>
            
          </div>
          <div class="d-flex justify-content-center" *ngIf="loading" >
            <i class="fas fa-spinner fa-3x"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
