<div class="panel">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h2>Profile</h2>
      </div>
      <div class="card-body">
        <h3>Hi!</h3>
        <p>You're logged as <span class="username">{{username}}</span></p>
        
      </div>
      <div class="card-footer  d-flex justify-content-center">
        <button type="submit" (click)=" onSubmit()" class="btn btn-login">Logout</button>
      </div>

    </div>
  </div>
</div>
