@import url('https://unpkg.com/bootstrap@4.0/dist/css/bootstrap.min.css');
header {
  background-color: #e6e6e6;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

body{
    background-color: #e6e6e6;
}

.panel {
  background-color: #e6e6e6;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
}

.btn{
  margin: 10px;
  padding: 10px 20px;
  font-size: 13pt;
}

.btn-login {
  background-color: #3973ac;
  color: white;
  border: black;
}

.btn-login:hover {
  background-color: #264d73;
}